<html>
	<head>
		<title>Track Notify</title>
	</head>
	<body>
	<p>
		您好,<br /> 
		您被標記的回報事件於 <%= Time.now %> 有了更新。<br />
		<br />
		請點此 <%= link_to @ticket.title, root_url + ticket_path(@ticket) %> 前往處理本次回報.<br />
	</p>
	
	<p>回報描述：<%= @ticket.description %></p>
	
	<p>本次動態：<%= @track.comment %></p>
	
	<p>By:
	<br />
	<%= image_tag attachments["avator.jpg"].url %>
	<p>
	
	</body>
</html>
