<% @tickets.each do |ticket| %>
<div class="box<%= " highlight" if (ticket.priority == "high")%><%= " end" if (ticket.status == "close")%>" >
  <div class="avator">
    <div class="img-border"> <img src="/images/avator.jpg"> </div>
    <div class="name"><%= ticket.username %></div>
  </div>
  <!--avator-->
  <div class="content" data-redirect="<%= ticket_path(ticket) %>">
    <span class="time"><%= ticket.created_at.strftime("%Y-%m-%d %H:%M") %></span>
    <div class="text">
      <ul class="tag">
        <li class="tag-topic" style="background:<%= ticket.color ? ticket.color : '#7573FF' %>"><%= ticket.name ? ticket.name : "其他" %></li>
        <% ticket.tags.each do |tag| %>
        <li><%= tag.name %></li>
        <% end %>
      </ul>
      <!--tag-->
      <p><%= ticket.description %></p>
      <div class="cc"><% if ticket.cc != "null" && JSON.parse(ticket.cc).length>0 %>標記:
        <% User.find_all_by_id(JSON.parse(ticket.cc)).each do |cc| %>        
        <a href="#"><%= cc.username %></a>
        <% end %> 
        ，<% end %> 共有<a href="<%= ticket_path(ticket) %>"><%= ticket.tracks.count(:conditions => ["status = ?", "track"]) %></a>則<a href="<%= ticket_path(ticket) %>">留言</a></div>
    </div>
  </div>
  <!--content--> 
</div>
<!--box-->
<% end %>

<script type="text/javascript">
$("div.content").click(function(){
  window.location = $(this).data("redirect");
});
</script>