
<section id="wrapper">
  <aside>
    <section id="search">
      <form>
        <input name="" type="text" id="search-text">
        <input name="" type="button" id="search-button">
      </form>
    </section>
    <!--search-->
    <section id="info"> <a id="info-edit" href="#"><img src="/images/edit.png"></a>
      <div class="photo">
        <div class="img-border"><img src="/images/avator.jpg"></div>
      </div>
      <div id="account"><span class="name"><%= current_user.username %></span><br>
        <span class="email"><%= current_user.email %></span></div>
    </section>
    <!--info-->
    <section id="topic">
      <h6>最新動態</h6>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="topic-name"><a href="#">近期回報</a></td>
            <td class="notice"><span>2</span></td>
          </tr>
        </table>
      </div>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="topic-name"><a href="#">最新留言</a></td>
            <td class="notice"><span>1</span></td>
          </tr>
        </table>
      </div>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="topic-name"><a href="/tickets">依優先排序</a></td>
            <td class="notice"></td>
          </tr>
        </table>
      </div>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="topic-name"><a href="/tickets?order=createDESC">依時間排序</a></td>
            <td class="notice"></td>
          </tr>
        </table>
      </div>
      <h6>我的訂閱
        <div class="tool"><a id="check-button">check</a><a id="del-button">delete</a><a id="add-button">Add</a></div>
      </h6>
      <div id="topic-add">
        <input name="" type="text" id="topic-text">
        <input name="" type="button" id="topic-button" value="增加">
      </div>
      <% @subscribes.each do |subscribe| %>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="del"><%= link_to '', ticket_topic_path(subscribe), method: :delete %></td>
            <td class="topic-name"><a href="<%= ticket_topic_path(subscribe.topic_id) %>"><%= subscribe.name %></a></td>
            <td class="notice"><span><%= subscribe.count %></span></td>
          </tr>
        </table>
      </div>
      <% end %>
    </section>
    <!--topic--> 
  </aside>
  <article>
    <header>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td id="aside-ctrl"><a href="#"><img src="/images/nav.png"></a></td>
          <td><h1>夏天廣告回報系統</h1></td>
          <td class="tool"><a href="#" id="tool-ctrl"><img src="/images/set.png"></a>
            <div id="tool-list"><%= link_to (image_tag("/images/logout.png")+"登出"), destroy_user_session_path, method: :delete %> <%= link_to (image_tag("/images/tag.png")+"專案管理") ,topics_path %> <%= link_to (image_tag("/images/user.png")+"使用者列表") ,admin_users_path, :id => "user-list" %></div></td>
        </tr>
      </table>
    </header>
    <section id="msg-list">
      <section id="post">
        <div class="main">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="90%"><input name="" type="text" id="main-text"></td>
              <td width="10%"><input name="" type="button" id="main-send" value="送出"></td>
            </tr>
          </table>
        </div>
        <div class="option">
          <section class="tab-content">
            <div id="post-tag">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="topic" width="19%"><input name="" type="text" placeholder="專案名稱"></td>
                  <td width="1%">&nbsp;</td>
                  <td class="tagmod" width="80%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="150"><div class="tag">首頁<a><img src="/images/tag-del.png"></a></div>
                          <div class="tag">最新消息<a><img src="/images/tag-del.png"></a></div></td>
                        <td><input name="" type="text" placeholder="添加標籤"></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
            </div>
            <div id="post-cc">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="tagmod" width="150"><div class="tag">AW<a><img src="/images/tag-del.png"></a></div>
                    <div class="tag">limin<a><img src="/images/tag-del.png"></a></div></td>
                  <td class="tagmod"><input name="" type="text" placeholder="想要把誰標記進來？"></td>
                </tr>
              </table>
            </div>
            <div id="post-dl">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="date" width="19"><input name="" type="text" placeholder="選擇期限"></td>
                  <td width="1%">&nbsp;</td>
                  <td class="note" width="80%"><input name="" type="text" placeholder="備註欄"></td>
                </tr>
              </table>
            </div>
          </section>
          <!--tab-content-->
          <section class="tab">
            <ul>
              <li><a href="#post-tag"><img src="/images/post-tag.png"></a></li>
              <li><a href="#post-cc"><img src="/images/post-cc.png"></a></li>
              <li><a href="#post-dl"><img src="/images/post-dl.png"></a></li>
            </ul>
          </section>
          <!--tab--> 
        </div>
        <!--option--> 
      </section>
      <!--post-->

      <% @tickets.each do |ticket| %>
      <div class="box <%= "highlight" if (ticket.priority == "high")%>">
        <div class="avator">
          <div class="img-border"> <img src="/images/avator.jpg"> </div>
          <div class="name">Elaphurus Liang</div>
        </div>
        <!--avator-->
        <div class="content"> <span class="time"><%= ticket.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          <div class="text">
            <ul class="tag">
              <li class="tag-topic" style="background:<%= ticket.color if(ticket.color) %>"><%= ticket.name %></li>
              <li>前台</li>
              <li>小短文</li>
            </ul>
            <!--tag-->
            <p><%= ticket.description %></p>
            <div class="cc">標記<a href="#">toto</a> ，共有<a href="#"><%= ticket.tracks.count %></a>則<a href="#">留言</a></div>
          </div>
        </div>
        <!--content--> 
      </div>
      <!--box-->
      <% end %>
    </section>
  </article>
</section>
<script type="text/javascript">
$("#topic-text").focus(function(){
  $.ajax({
      async: false,
      url: "/getTopics",
      dataType: 'json',
      complete: function (XMLHttpRequest, textStatus) {
        var topics = $.parseJSON(XMLHttpRequest.responseText);

        $("#topic-text").unbind().autocomplete({
          source: topics,
          minLength: 0,
          //change: function (event, ui) { $(this).val(ui.item.id);; }
        })
        .focus(function() {
          $(this).autocomplete('search', $(this).val())
        })
        .trigger('focus');
      }
    });
});
</script>