<section id="msg-list">
  <%= form_for(@ticket) do |f| %>
  <section id="post">
    <div class="main">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="90%"><%= f.text_field :description, :id => "main-text", :autocomplete => "off" %></td>
          <td width="10%"><input type="button" id="main-send" value="送出"></td>
        </tr>
      </table>
    </div>

    <div class="option">
      <section class="tab-content">
        <div id="post-tag">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="topic" width="19%">
                <input type="text" id="ticketTopic" style="display:none;">
                <%= f.text_field :topic, :placeholder => "專案名稱" %>
              </td>
              <td width="1%">&nbsp;</td>
              <td class="tagmod" width="80%">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="150">
                      <div class="tag">首頁<a><img src="/images/tag-del.png"></a></div>
                      <div class="tag">最新消息<a><img src="/images/tag-del.png"></a></div>
                    </td>
                    <td><input type="text" placeholder="添加標籤">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>

        <div id="post-cc">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="tagmod" width="150">
                <div class="tag">AW<a><img src="/images/tag-del.png"></a></div>
                <div class="tag">limin<a><img src="/images/tag-del.png"></a></div>
              </td>
              <td class="tagmod"><input name="" type="text" placeholder="想要把誰標記進來？"></td>
            </tr>
          </table>
        </div>
        
        <div id="post-dl">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="date" width="19">
                <%= f.text_field :deadline, :placeholder => "選擇期限", :autocomplete => "off" %>
              </td>
              <td width="1%">&nbsp;</td>
              <td class="note" width="80%">
                <%= f.text_field :period, :placeholder => "備註欄", :autocomplete => "off" %>
              </td>
            </tr>
          </table>
        </div>
      </section>
      <!--tab-content-->
      <section class="tab">
        <ul>
          <li><a href="#post-tag"><img src="/images/post-tag.png"></a></li>
          <li><a href="#post-cc"><img src="/images/post-cc.png"></a></li>
          <li><a href="#post-dl"><img src="/images/post-dl.png"></a></li>
        </ul>
      </section>
      <!--tab-->
    </div>
    <!--option-->
  </section>
  <!--post-->
  <% end %>

  <%= render 'listTickets' %>

</section>
<script type="text/javascript">
$( "#ticket_deadline" ).datepicker();
$( "#ticket_deadline" ).change(function(){
  $(this).datepicker("option", "dateFormat", "yy-mm-dd");

  //compare the date
  if(new Date($(this).val()) <= new Date()){
    $(this).val("");
    alert("期限日期不能為過去的日期");
  }
});

$("#main-send").click(function(){
  $("#new_ticket").submit();
});


</script>