<section id="msg-list">
  <%= form_for(@ticket) do |f| %>
  <section id="post">
    <div class="main">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="90%"><%= f.text_field :description, :id => "main-text", :autocomplete => "off" %></td>
          <td width="10%"><input type="button" id="main-send" value="送出"></td>
        </tr>
      </table>
    </div>

    <div class="option">
      <section class="tab-content">

        <div id="post-tag">

          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="topic" width="19%">
                <input type="text" id="ACTicketTopic" placeholder="專案名稱">
                <input type="text" id="ticketTopic" name="ticket[topic_id]" style="display:none;">
              </td>
              <td width="1%">&nbsp;</td>
              <td class="tagmod" width="80%">
                <input id="tagAC" type="text" name="tag[]" value="" />
              </td>
            </tr>
          </table>
        </div>

        <div id="post-cc">
          <input id="userAC" type="text" name="cc[]" value="" />

        </div>
        
        <div id="post-dl">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="date" width="19">
                <%= f.text_field :deadline, :placeholder => "選擇期限", :autocomplete => "off" %>
              </td>
              <td width="1%">&nbsp;</td>
              <td class="note" width="80%">
                <%= f.text_field :period, :placeholder => "備註欄", :autocomplete => "off" %>
              </td>
            </tr>
          </table>
        </div>
      </section>
      <!--tab-content-->
      <section class="tab">
        <ul>
          <li><a href="#post-tag"><img src="/images/post-tag.png"></a></li>
          <li><a href="#post-cc"><img src="/images/post-cc.png"></a></li>
          <li><a href="#post-dl"><img src="/images/post-dl.png"></a></li>
        </ul>
      </section>
      <!--tab-->
    </div>
    <!--option-->
  </section>
  <!--post-->
  <% end %>

  <%= render 'listTickets' %>

</section>
<script type="text/javascript">
$( "#ticket_deadline" ).datepicker();
$( "#ticket_deadline" ).change(function(){
  $(this).datepicker("option", "dateFormat", "yy-mm-dd");

  //compare the date
  if(new Date($(this).val()) <= new Date()){
    $(this).val("");
    alert("期限日期不能為過去的日期");
  }
});

$("#main-send").click(function(){
  $("#new_ticket").submit();
});
</script>