<section id="msg-list">
  <section id="post">
    <div class="main">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="90%"><input name="" type="text" id="main-text"></td>
          <td width="10%"><input name="" type="button" id="main-send" value="送出"></td>
        </tr>
      </table>
    </div>

    <div class="option">
      <section class="tab-content">
        <div id="post-tag">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="topic" width="19%"><input name="" type="text" placeholder="專案名稱"></td>
              <td width="1%">&nbsp;</td>
              <td class="tagmod" width="80%">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="150">
                      <div class="tag">首頁<a><img src="/images/tag-del.png"></a></div>
                      <div class="tag">最新消息<a><img src="/images/tag-del.png"></a></div>
                    </td>
                    <td><input name="" type="text" placeholder="添加標籤"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>

        <div id="post-cc">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="tagmod" width="150">
                <div class="tag">AW<a><img src="/images/tag-del.png"></a></div>
                <div class="tag">limin<a><img src="/images/tag-del.png"></a></div>
              </td>
              <td class="tagmod"><input name="" type="text" placeholder="想要把誰標記進來？"></td>
            </tr>
          </table>
        </div>

        <div id="post-dl">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="date" width="19"><input name="" type="text" placeholder="選擇期限"></td>
              <td width="1%">&nbsp;</td>
              <td class="note" width="80%"><input name="" type="text" placeholder="備註欄"></td>
            </tr>
          </table>
        </div>
      </section>
      <!--tab-content-->

      <section class="tab">
        <ul>
          <li><a href="#post-tag"><img src="/images/post-tag.png"></a></li>
          <li><a href="#post-cc"><img src="/images/post-cc.png"></a></li>
          <li><a href="#post-dl"><img src="/images/post-dl.png"></a></li>
        </ul>
      </section>
      <!--tab-->
    </div>
    <!--option-->
  </section>
  <!--post-->

  <% if @tickets.length>0 %>
  <% @tickets.each do |ticket| %>
  <div class="box <%= "highlight" if (ticket.priority == "high")%>">
    <div class="avator">
      <div class="img-border"> <img src="/images/avator.jpg"> </div>
      <div class="name">Elaphurus Liang</div>
    </div>
    <!--avator-->
    <div class="content"> <span class="time"><%= ticket.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      <div class="text">
        <ul class="tag">
          <li class="tag-topic" style="background:<%= ticket.color if(ticket.color) %>"><%= ticket.name %></li>
          <li>前台</li>
          <li>小短文</li>
        </ul>
        <!--tag-->
        <p><%= ticket.description %></p>
        <div class="cc">標記<a href="#">toto</a> ，共有<a href="#"><%= ticket.tracks.count %></a>則<a href="#">留言</a></div>
      </div>
    </div>
    <!--content--> 
  </div>
  <!--box-->
  <% end %>
  <% else %>
  <p style="color:white;">找不到符合"<%= params[:query]%>"的問題記錄。</p>
  <% end %>
</section>