<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Period</th>
    <th>Reporter</th>
    <th>Treatment</th>
    <th>Close time</th>
    <th>Topic</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.title %></td>
    <td><%= ticket.description %></td>
    <td><%= ticket.deadline %></td>
    <td><%= ticket.period %></td>
    <td><%= ticket.reporter %></td>
    <td><%= ticket.treatment %></td>
    <td><%= ticket.close_time %></td>
    <td><%= ticket.topic %></td>
    <td><%= ticket.status %></td>
    <td><%= link_to 'Show', admin_ticket_path( ticket ) %></td>
    <td><%= link_to 'Edit', edit_admin_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', admin_ticket_path( ticket ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_admin_ticket_path %>
