<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>Deadline:</b>
  <%= @ticket.deadline %>
</p>

<p>
  <b>Period:</b>
  <%= @ticket.period %>
</p>

<p>
  <b>Reporter:</b>
  <%= @ticket.reporter %>
</p>

<p>
  <b>Treatment:</b>
  <%= @ticket.treatment %>
</p>

<p>
  <b>Close time:</b>
  <%= @ticket.close_time %>
</p>

<p>
  <b>Topic:</b>
  <%= @ticket.topic %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
