<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="Robots" content="index,follow"/>
  <meta http-equiv="content-language" content="zh-TW" />
  <title>夏天廣告回報系統</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" media="screen and (max-width: 543px)" href="/assets/front/mobile"/>
  <link rel="stylesheet" media="screen and (min-width: 544px) and (max-width: 896px)" href="/assets/front/tablet" />
  <link rel="stylesheet" media="screen and (min-width: 897px)" href="/assets/front/desktop"/>
  <link rel="StyleSheet" href="/plugin/tagit/css/jquery.tagedit.css" type="text/css" media="all"/>

  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="/plugin/tagit/js/jquery.autoGrowInput.js"></script>
  <script type="text/javascript" src="/plugin/tagit/js/jquery.tagedit.js"></script>
  <%= csrf_meta_tags %>

  <script>
  $(document).ready(function(){
  	$('#add-button').click(function(){
  		$('#topic-add').stop().toggle(500,function(){
  			$('#del-button').addClass('dark')
  		});	
  	})

  	$('#del-button').click(function(){
  		$(this).hide();
  		$('#check-button').show();
  		$('#add-button').addClass('dark');
  		$('.del').stop().fadeIn(500)
  	})

  	$('#check-button').hide().click(function(){
		$(this).hide();
		$('#del-button').show();
		$('#add-button').removeClass('dark');
		$('.del').stop().fadeOut(500)	
	})
	
	$('#aside-ctrl').click(function(){
		$('aside').animate({left:0});
		$('article').addClass('mask')
	})
	
	$('#tool-ctrl')	.click(function(){
		$('#tool-list').fadeIn('slow');	
	})
  });
</script>
<script>
$(document).ready(function(){
	$(function(){	
		var _showTab = 0;
		var $defaultLi = $('.tab li').eq(_showTab).addClass('active');
		$($defaultLi.find('a').attr('href')).siblings().hide();
 		$('.tab li').click(function() {		
			var $this = $(this),
			_clickTab = $this.find('a').attr('href');		
			$this.addClass('active').siblings('.active').removeClass('active');		
			$(_clickTab).stop(false, true).fadeIn().siblings().hide(); 
			return false;
		}).find('a').focus(function(){
			this.blur();
		});
	});
	
	$('.tab-content').hide()
	$('.option .tab').hide()
	$('#main-text').click(function(){
		$('.option .tab').fadeIn()		
	})
	$('.option .tab a').click(function(){
		$('.tab-content').fadeIn()		
	})

	var adjustHeight = $("article").outerHeight();
	var windowHeight = $(window).height();
	$("#wrapper aside").css("height", adjustHeight>windowHeight? adjustHeight:windowHeight );
});
</script>
</head>
<body>
<section id="wrapper">
  <aside>
    <section id="search">
      <div>
        <input name="" type="text" id="search-text">
        <input name="" type="button" id="search-button">
      </div>
    </section>
    <!--search-->
    <section id="info"> <a id="info-edit" href="#"><img src="/images/edit.png"></a>
      <div class="photo">
        <div class="img-border"><img src="/images/avator.jpg"></div>
      </div>
      <div id="account"><span class="name"><%= current_user.username %></span><br>
        <span class="email"><%= current_user.email %></span></div>
    </section>
    <!--info-->
    <section id="topic">
      <h6>最新動態</h6>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="topic-name"><a href="#">近期回報</a></td>
            <td class="notice"><span>2</span></td>
          </tr>
        </table>
      </div>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="topic-name"><a href="#">最新留言</a></td>
            <td class="notice"><span>1</span></td>
          </tr>
        </table>
      </div>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="topic-name"><a href="/tickets">依優先排序</a></td>
            <td class="notice"></td>
          </tr>
        </table>
      </div>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="topic-name"><a href="/tickets?order=createDESC">依時間排序</a></td>
            <td class="notice"></td>
          </tr>
        </table>
      </div>
      <h6>我的訂閱
        <div class="tool"><a id="check-button">check</a><a id="del-button">delete</a><a id="add-button">Add</a></div>
      </h6>
      <div id="topic-add">
        <input name="" type="text" id="topic-text">
        <input name="" type="button" id="topic-button" value="增加">
      </div>
      <% @subscribes.each do |subscribe| %>
      <div class="ticket">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="del"><%= link_to '', ticket_topic_path(subscribe), method: :delete %></td>
            <td class="topic-name"><a href="<%= ticket_topic_path(subscribe.topic_id) %>"><%= subscribe.name %></a></td>
            <td class="notice"><span><%= subscribe.count %></span></td>
          </tr>
        </table>
      </div>
      <% end %>
    </section>
    <!--topic--> 
  </aside>
<article>
    <header>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td id="aside-ctrl"><a href="#"><img src="/images/nav.png"></a></td>
          <td><h1>夏天廣告回報系統</h1></td>
          <td class="tool"><a href="#" id="tool-ctrl"><img src="/images/set.png"></a>
            <div id="tool-list"><%= link_to (image_tag("/images/logout.png")+"登出"), destroy_user_session_path, method: :delete %> <%= link_to (image_tag("/images/tag.png")+"專案管理") ,topics_path %> <%= link_to (image_tag("/images/user.png")+"使用者列表") ,admin_users_path, :id => "user-list" %></div></td>
        </tr>
      </table>
    </header>

<%= yield %>
  </article>
</section>

<script type="text/javascript">
$("#search-button").click(function(){
  var queryString = $("#search-text").val();
  if (queryString) { // check value is not empty
    document.location.href = "/tickets/query/" + queryString;
  }
});
$("#search-text").keydown(function(event){
  if (event.keyCode == 13){
    $("#search-button").trigger('click');
  }
});
</script>
</body>
</html>
